<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <title>Home</title>
</head>
<body>
    <h1>Discover</h1>
    <div class="navbar">
      <a href="/">Home</a>
      <div class="dropdown">
        <a class="dropbtn" href="/planAhead">Plan Ahead</a>
          <div class="dropdown-content">
            <a href="/discover">Discover</a>
            <a href="/planner">Planner</a>
            <a href="">Page 3</a>
          </div>
      </div>
      <a href="https://paws.gsu.edu" target="_blank">PAWS</a>
      <a href="#logout">Log Out</a>
  </div>
    
<div class="search-bar">
    <input type="text" id="search-input" placeholder="Search...">
    <button id="search-button">Search</button>
</div>
<p>hello my name is poop</p>
<script src="/js/search.js"></script>
    
    
      
    <!-- Your server.js script should be included separately -->
    <script src="server.js"></script>
</body>
</html>
