<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Plan Ahead</h1>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/planAhead">Plan Ahead</a>
        <a href="https://paws.gsu.edu" target="_blank">PAWS</a>
        <a href="#logout">Log Out</a>
    </div>
    
    <input type="text" id="search-input" placeholder="Search...">
    <button id="search-button">Search</button>

    <p>hello my name is poop</p>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const searchInput = document.getElementById("search-input");
          const searchButton = document.getElementById("search-button");
      
          searchButton.addEventListener("click", function () {
            const searchText = searchInput.value;
            performSearch(searchText);
          });
      
          function performSearch(query) {
            const content = document.body.innerText;
      
            if (content.includes(query)) {
              highlightText(query);
            } else {
              alert("Text not found.");
            }
          }
      
          function highlightText(query) {
            const content = document.body.innerHTML;
            const highlightedContent = content.replace(
              new RegExp(query, "g"),
              `<span class="highlighted">${query}</span>`
            );
            document.body.innerHTML = highlightedContent;
          }
        });
      </script>
      







    <!-- Your server.js script should be included separately -->
    <script src="server.js"></script>
</body>
</html>
