/* NAVIGATION BAR */
body {
    background-color: #f5f6f7;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.navbar {
    background-color: #004489;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: calc(1rem + 40px);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: opacity;
}

.navbar a {
    display: inline-block;
    color: #fff;
    /* Text color */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #005aa3;
    color: #fff;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-image: url('/css/arrow.png');
    background-size: 11px;
    /* Adjust the size as needed */
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) center;
    /* Adjust the position as needed */
    padding-right: 40px;
    /* Add more padding to the right for the arrow */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Center vertically */
}

.logo {
    display: inline-block;
    /* Display the logo as inline-block */
    vertical-align: middle;
    /* Align the logo vertically with the text */
}

.vertical-line {
    border-left: 1px solid #CED5DB;
    /* Vertical line style */
    height: 50px;
    /* Adjust height as needed */
    margin: 0 10px;
    /* Adjust margin as needed */
}

/* GISSELLE: PROGRESS BAR - HOME PAGE */
.content-area {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.section-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.welcome-message h2 {
    font-size: 22px;
    color: #4697D0;
    margin-bottom: 20px;
}

.progress-section {
    margin-bottom: 30px;
}

.progress-bar {
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    width: 100%;
}

.progress {
    background-color: #4697D0;
    height: 100%;
}

.progress-text {
    text-align: center;
    font-size: 16px;
    color: #666;
}

.current-courses-list {
    list-style-type: none;
    padding: 0;
}

.current-course {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.current-course::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #4697D0;
    transition: width 0.3s ease;
}

.current-course:hover::after {
    width: 100%;
}

.current-course:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header,
.content {
    flex: 0 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.content-area {
    width: 70%;
    /* Adjust this width as needed */
}

.panel {
    width: 25%;
    /* Adjust this width as needed */
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

/* Additional styling for the panel content */
.panel h2 {
    margin-top: 0;
}

/* MAGGIE AND SOLANLLY - PLANNER PAGE */
.my-plan {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.plan-title {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.student-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-block {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
}

.info-title {
    font-weight: bold;
    color: #495057;
    font-size: 18px;
}

.info-data {
    font-size: 18px;
    color: #212529;
}

.courses-container {
    display: flex;
    justify-content: space-between;
}

.courses-taken,
.courses-not-taken {
    flex-basis: 48%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.courses-taken h2,
.courses-not-taken h2 {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
}

/* ADRIAN */

#search-input {
    display: block;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li ul {
    margin-top: 10px;
}

li ul li {
    font-size: 0.9em;
    color: #666;
    background-color: unset;
    border-bottom: none;
}

/* GISSELLE AND SOLANLY: WHAT-IF PAGE  */

.whatif-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.whatif-dropdown form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

.whatif-dropdown label,
.whatif-dropdown select {
    margin: 5px;
}

.whatif-dropdown input[type="submit"] {
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#selectionResults h2 {
    background-color: #004489;
    /* Dark blue */
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 0;
}

.selectionContainer {
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding: 20px;
    border-radius: 3px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
    background-color: #004489;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4697D0;
}

.selectionContainer .courses ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2px;
    margin: 0;
    list-style: none;
}

.selectionContainer .courses ul li {
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.selectionContainer .courses h3 {
    display: block;
    margin-bottom: 10px;
    color: #4697D0;

}

.selectionContainer h3 {
    color: #4697D0;

}

/* SOLANLY PLANNER PAGE EXTRA */
.recommended-courses-section,
.course-selection-section,
.your-plan-section {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}

.submit-button {
    background-color: #4697D0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #367ba7;
}

.hide {
    display: none;
}

/* PLAN OF STUDY */
.plan-of-study {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.course-progression .semester {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.semester-title {
    color: #4697D0;
    font-size: 20px;
    margin-bottom: 10px;
}

.course-list {
    list-style-type: none;
}

.course-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.course-item:last-child {
    border-bottom: none;
}