/* NAVIGATION BAR */
body {
    background-color: #f5f6f7;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.navbar {
    background-color: #004489; 
    width: 100%; 
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: calc(1rem + 40px);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: opacity;
}

.navbar a {
    display: inline-block;
    color: #fff; /* Text color */
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #005aa3;
    color: #fff;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

/* GISSELLE */
.progress-bar {
    background-color: #FFFFFF;
    margin: auto;
}

.progress-bar-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #000;
}

.progress {
    height: 30px;
    background-color: #4697D0;
    text-align: center;
    color: #fff;
}

/* MAGGIE AND SOLANLLY */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-family: 'Arial', sans-serif; 
    color: #333;
}

h1 {
    font-size: 28px; 
}

.student-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    font-family: 'Arial', sans-serif; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Helvetica', sans-serif; 
}

.button:hover {
    background-color: #0056b3;
}

.hide {
    display: none;
  }

/* ADRIAN */

#search-input {
    display: block;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li ul {
    margin-top: 10px;
}

li ul li {
    font-size: 0.9em;
    color: #666;
    background-color: unset;
    border-bottom: none;
}